@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

html,
body {
    width: 100vw;
    background-color: #BF9788;

}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

nav {
    margin: 0px 15px 15px 15px;
    display: flex;
    align-items: center;
    gap: 30px;
}

nav>a {
    text-decoration: none;
    color: #5C3C14;
    font-weight: bold;
    display: block;
    font-size: 1.1em;
    margin-left: 20px;
}

nav>a:hover {
    color: #a86d25;
    transform: scale(1.2);
    transition: transform 0.5s;
    transition-timing-function: ease;
}

.button {
    background-color: #FFE2D2;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    border: 2px solid #5C3C14;
}

.button:hover {
    color: #5C3C14;
}

hr {
    width: 95vw;
    margin: auto;
}

/* Carrossel */

.carrossel {
    margin: 5vh auto;
    width: 100%;
    max-width: 1100px;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    width: 300%;
    animation: slideAnimation 13s infinite;
}

.slide {
    flex: 0 0 33.3333%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.slide {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 10px;
    object-fit: cover;
}


@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(0);
    }

    34% {
        transform: translateX(-33.3333%);
    }

    66% {
        transform: translateX(-33.3333%);
    }

    67% {
        transform: translateX(-66.6666%);
    }

    99% {
        transform: translateX(-66.6666%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Carrossel */

section#um {
    padding: 30px;
    color: #422b0e;
}

section#um>h1 {
    text-align: center;
    color: #5C3C14;
    padding: 20px;
}

section#um>p {
    text-align: justify;
    text-indent: 50px;
}

section#dois > h1 {
    margin-top: 5vh;
    text-align: center;
    color: #5C3C14;
}

div#pai {
    display: flex;
    gap: 4vw;
    flex-flow: row;
    margin: 3vh auto;
    width: 1320px;
}

div#pai > div {
    margin: 20px;
    width: 250px;
    color: #422b0e;
}

div#pai > div > img {
    width: 250px;
    height: 250px;
}

div#pai > div > p{
    color: #422b0e;
    text-align: center;
    margin-top: 1vh;
}

section#tres > h1 {
    margin-top: 4vh;
    text-align: center;
    color: #422b0e;
}

section#tres > p {
    padding: 20px 35px 20px 35px;
    text-indent: 50px;
    text-align: justify;
    line-height: 20px;
    color: #422b0e;
}

section#tres > a {
    text-decoration: none;
    color: #5C3C14;
    display: block;
    width: 200px;
    margin: 4vh auto;
    font-weight: bold;
}

section#tres > a:hover {
    color: #5C3C14;
    transform: scale(1.2);
    transition: transform 0.5s;
    transition-timing-function: ease;
}

section#quatro > h1 {
    text-align: center;
    margin-top: 5vh;
    color: #422b0e;
}

section#quatro > p {
    margin-top: 2vh;
    color: #422b0e;
    padding: 20px 35px 20px 35px;
    text-align: justify;
    text-indent: 50px;
}

div#mae {
    display: flex;
    flex-flow: row wrap;
    width: 1103px;
    row-gap: 10vh;
    margin: 5vh auto;
}

div.filho {
    display: flex;
}

div#mae img {
    width: 250px;
    height: 250px;
}

div#mae img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}

div.filho h2 {
    color: #422b0e;
    margin-bottom: 20px;
}

div.filho p {
    width: 250px;
    color: #422b0e;
    margin-bottom: 30px;
    line-height: 25px;
}

div.filho > div {
    margin-right: 20px;
}

p.preco {
    font-weight: bold;
    font-size: 1.2em;
}

section#quatro > a {
    display: block;
    width: 195px;
    margin: 15vh auto;
    text-decoration: none;
    color: #422b0e;
    font-size: 1.1em;
}

section#quatro > a:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
    transition-timing-function: ease;
}

footer {
    padding: 10px;
    box-shadow: 0px -10px 10px #A87867;
    background-color: #A87867;
}

footer h2 {
    color: #F5D3A1;
}

footer p {
    text-align: center;
    color: #F5D3A1;
}

footer > div {
    margin-left: 5vw;
}

input {
    background-color: #DCB8A7;
    padding: 15px 20px;
    border: 2px solid #5C3C14;
    border-radius: 40px;
    margin-top: 2vh;
}

.line {
    display: inline-block;
}

.mc {
    width: 2px;
    height: 130px;
    background-color: #F5D3A1;
}

.redes {
    transform: translate(0%, -100%);
}

.redes img {
    width: 35px;
    height: 35px;
}

footer >  img {
    transform: translate(100%, 10%);
}